# **Extracting User Journey Data with SQL**

## **Introduction**

### **Project Overview**

- *The goal of this project is to analyze the user journey of paying customers on a company's website.*
- *We aim to understand the sequence of pages visited by users leading up to their first purchase.*
- *By identifying the most common paths taken by users before making a purchase, we can gain insights into the effectiveness of the website's design,marketing strategies, and content placement.*



**To achieve this, we will extract and process data from three key tables in the database:**
- *1. **`front_interactions`**: Contains all visitor interactions with the website.*
- *2. **`student_purchases`**: Records of user payments and the type of subscription purchased.*
- *3. **`front_visitors`**: Connects visitors to users who created an account.*

**The final output will be a CSV file with the following information:**
 - *`user_id`: The unique ID of the user.*
 - *`session_id`: The session during which the interactions occurred.*
 - *`subscription_type`: The type of subscription purchased.*
 - *`user_journey`: A concatenated string representing the sequence of pages visited by the user before the purchase.*

### Database Tables Overview

#### 1. **`front_interactions` Table**
- This table contains data on all interactions by visitors to the website. 
- Each row represents a single interaction by a visitor during a specific session.

> Columns:
 >- *`interaction_id`: (INT) A unique identifier for each interaction.*
 >- *`visitor_id`: (VARCHAR) A unique identifier for each visitor. This ID is not linked directly to the user ID until a visitor creates an account.*
 >- *`event_date`: (DATETIME) The date and time when the interaction occurred.*
 >- *`session_id`: (VARCHAR) A unique identifier for the session during which the interaction took place.*
 >- *`event_source_url`: (VARCHAR) The URL of the page where the interaction started.*
 >- *`event_destination_url`: (VARCHAR) The URL of the page where the interaction ended.*

#### 2. **`student_purchases` Table**
- This table records information about all purchases made by users, including subscription details.

> Columns:
>- *`user_id`: (INT) A unique identifier for each user who made a purchase.*
>- *`date_purchased`: (DATETIME) The date and time when the purchase was made.*
>- *`purchase_type`: (INT) An indicator of the type of subscription purchased.* 
     >>- *`0` represents a Monthly subscription.*
     >>- *`1` represents a Quarterly subscription.*
     >>- *`2` represents an Annual subscription.*
     >>- *Any other value represents other types of subscriptions.*
>- *`purchase_price`: (DECIMAL) The amount paid by the user for the purchase.* 
>>- *A value of `0` indicates a test or a free purchase.*

#### 3. **`front_visitors` Table**
-- This table links visitors (who may or may not have created an account) to users who have registered an account.

> Columns:
>- *`visitor_id`: (VARCHAR) A unique identifier for each visitor. Matches the `visitor_id` in the `front_interactions` table.*
>- *`user_id`: (INT) A unique identifier for each registered user. Matches the `user_id` in the `student_purchases` table.*

### **Analysis Goals**

**The primary goal of this analysis is to generate a comprehensive report showing the journey of users from their first interaction with the website to the point of their first purchase.**
> This report will help in:
- Identifying the most common paths that lead to a purchase.
- Understanding user behavior and preferences.
- Optimizing the website design and content layout for better conversion rates.

> The report will consist of the following columns:
>- *`user_id`: To identify each unique user.*
>- *`session_id`: To differentiate multiple sessions of a user.*
>- *`subscription_type`: The type of subscription purchased by the user.*
>- *`user_journey`: A sequence of pages visited by the user before the purchase, represented as a concatenated string.*

### **Step-by-Step Approach**

> The notebook will follow these steps:
>
>1. **Increase Maximum String Length**: Configure the SQL environment to handle long concatenated strings for user journeys.
>2. **Extract Relevant User Data**: Identify users who made a purchase within a specified date range and exclude test purchases.
>3. **Link Users with Interactions**: Extract and filter user interactions data before their first purchase.
>4. **Assign Aliases to URLs**: Replace raw URLs with more readable aliases for clarity in the final output.
>5. **Combine Page Interactions**: Concatenate the source and destination URLs to form a page-to-page journey string.
>6. **Aggregate the User Journey**: Group the page interactions by user and session to form a complete journey.
>7. **Output the Result**: Format and export the final output to a CSV file for further analysis.

**The following sections of the notebook will detail the SQL code and provide explanations for each step to achieve the desired output.**

## **Import Required Libraries**

In [1]:
# Before connecting to the MySQL database, we need to import the necessary Python libraries.

import pymysql
import pandas as pd
import os
import mysql.connector 
%load_ext sql

**Explanation**

- *`pymysql`: Connects to MySQL databases in Python. Lightweight and ideal for simple, quick connections.*
- *`pandas`: Handles data manipulation and analysis, especially useful for working with tabular data.*
- *`os`: Manages environment variables securely (e.g., passwords), improving security by avoiding hardcoded sensitive data.*
- *`mysql.connector`: Official MySQL driver for Python, supports complex queries and transactions.*
- *`%load_ext SQL`: Jupyter magic command to run SQL queries directly within notebook cells, integrating SQL and Python seamlessly.*

## **Establishing Connection to the MySQL Database**

In [21]:
# The format for the connection string is: 
# 'mysql+pymysql://<username>:<password>@<host>/<database>'

%sql mysql+pymysql://root:*******@localhost:3306/user_journey_data

'Connected: root@user_journey_data'

**Explanation:**

- *The `%sql` magic command followed by the connection string connects to the MySQL database.*
- *This command establishes a connection to the database, allowing us to execute SQL queries directly from the notebook.*

## **Step 1: Increase Maximum String Length**

In [22]:
%%sql

SET SESSION group_concat_max_len = 65535;
SET SESSION sql_mode = (SELECT REPLACE(@@sql_mode, 'ONLY_FULL_GROUP_BY', ''));

SELECT *
FROM front_interactions
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
0 rows affected.
0 rows affected.
5 rows affected.

[(1076404, 2801930, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', datetime.datetime(2022, 12, 1, 0, 0, 7), 'login_email.click'),
 (1076404, 2801930, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', datetime.datetime(2022, 12, 1, 0, 0, 9), 'login_password.click'),
 (494069, 2801929, 'https://365datascience.com/login/', 'https://365datascience.com/login/', datetime.datetime(2022, 12, 1, 0, 0, 14), 'login_email.click'),
 (1076404, 2801930, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcourses%2Fpreview%2Fmachine-learning-with-decision-trees-and-random-forests%2F', datetime.datetime(2022, 12, 1, 0, 0, 14), 'login_login.click.success'),
 (494069, 2801929, 'https://365datascience.com/login/', 'https://365datascience.com/login/', datetime.datetime(2022, 12, 1, 0, 0, 16), 'login_password.click')]

**Explanation:**

- *The `%%sql` cell magic allows us to execute multi-line SQL commands.*
- *The command `SET SESSION group_concat_max_len = 65535;` increases the maximum length of the result for the `GROUP_CONCAT()` function in MySQL to 65,535 bytes. This is useful for queries that generate large concatenated results.*
- *The command `SET SESSION sql_mode = (SELECT REPLACE(@@sql_mode, 'ONLY_FULL_GROUP_BY', ''));` adjusts the SQL mode for the session to remove `ONLY_FULL_GROUP_BY`. This modification allows queries that use `GROUP BY` to work without needing to include all non-aggregated columns in the `GROUP BY` clause.*
- *The `SELECT * FROM front_interactions LIMIT 5;` command retrieves the first 5 rows from the front_interactions table, useful for inspecting the data structure and content.*

## **Step 2: Extract Relevant User Data**

In [23]:
%%sql 

SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
10 rows affected.

[(461865, datetime.datetime(2023, 1, 1, 0, 47, 47), 'Monthly', Decimal('26.99')),
 (343619, datetime.datetime(2023, 1, 1, 2, 52, 27), 'Annual', Decimal('99.01')),
 (312849, datetime.datetime(2023, 1, 1, 4, 42, 21), 'Annual', Decimal('90.86')),
 (427084, datetime.datetime(2023, 1, 1, 7, 44, 45), 'Monthly', Decimal('32.20')),
 (296546, datetime.datetime(2023, 1, 1, 17, 48, 47), 'Monthly', Decimal('43.30')),
 (462426, datetime.datetime(2023, 1, 1, 18, 40, 34), 'Annual', Decimal('174.00')),
 (462048, datetime.datetime(2023, 1, 1, 18, 52, 36), 'Quarterly', Decimal('96.87')),
 (462441, datetime.datetime(2023, 1, 1, 19, 53, 13), 'Annual', Decimal('174.00')),
 (462473, datetime.datetime(2023, 1, 1, 22, 56, 17), 'Annual', Decimal('215.13')),
 (462484, datetime.datetime(2023, 1, 2, 0, 21, 38), 'Monthly', Decimal('27.00'))]

## **Step 3: Link Users with Their Interactions**

In [24]:
%%sql
WITH user_purchases AS (
   SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
)
  SELECT 
      fv.user_id, 
      fi.visitor_id, 
      fi.event_date, 
      fi.session_id, 
      fi.event_source_url, 
      fi.event_destination_url
  FROM front_visitors fv
  JOIN front_interactions fi ON fv.visitor_id = fi.visitor_id
  JOIN user_purchases up ON fv.user_id = up.user_id
  WHERE fi.event_date < up.first_order_date
  LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
10 rows affected.

[(398805, 199198, datetime.datetime(2022, 12, 1, 12, 32, 12), 2817165, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcareer-tracks%2Fdata-analyst%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fcareer-tracks%2Fdata-analyst%2F'),
 (387096, 563188, datetime.datetime(2022, 12, 1, 19, 44, 26), 2827209, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F'),
 (267955, 731801, datetime.datetime(2022, 12, 2, 8, 58, 6), 2837493, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fpricing%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2Fpricing%2F'),
 (313048, 733863, datetime.datetime(2022, 12, 2, 9, 1), 2837563, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F'),
 (313048, 733863, datetime.datetime(2022, 12, 2, 9, 1, 2), 2837563, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F'),
 (313048, 733863, datetime.datetime(2022, 12, 2, 9, 1, 13), 2837563, 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F', 'https://365datascience.com/login/?redirectUrl=https%3A%2F%2Flearn.365datascience.com%2F'),
 (455568, 384876, datetime.datetime(2022, 12, 2, 22, 33, 44), 2847176, 'https://365datascience.com/', 'https://365datascience.com/pricing/'),
 (455568, 384876, datetime.datetime(2022, 12, 2, 22, 33, 58), 2847176, 'https://365datascience.com/pricing/', 'https://365datascience.com/checkout/?plan=annual'),
 (455568, 384876, datetime.datetime(2022, 12, 2, 22, 34, 36), 2847176, 'https://365datascience.com/', 'https://365datascience.com/login/'),
 (455568, 384876, datetime.datetime(2022, 12, 2, 22, 34, 42), 2847176, 'https://365datascience.com/login/', 'https://365datascience.com/login/')]

**Explanation:**

- *The `WITH user_purchases AS (...)` clause creates a CTE named `user_purchases`, calculating each user's earliest purchase date and subscription type.*
- *The `SELECT` statement joins `front_visitors`, `front_interactions`, and the `user_purchases` CTE to retrieve user interactions that occurred before their first purchase.*
- `LIMIT 10` restricts the output to the first 10 rows.

## **Step 4: Assign Aliases to URLs**

In [25]:
%%sql
WITH user_purchases AS (
   SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
), 
table_interactions AS (
  SELECT 
      fv.user_id, 
      fi.visitor_id, 
      fi.event_date, 
      fi.session_id, 
      fi.event_source_url, 
      fi.event_destination_url,
      up.subscription_type
  FROM front_visitors fv
  JOIN front_interactions fi ON fv.visitor_id = fi.visitor_id
  JOIN user_purchases up ON fv.user_id = up.user_id
  WHERE fi.event_date < up.first_order_date
)
 SELECT
    user_id,
    session_id,
    subscription_type,
    CASE
      WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS source_page_alias,
    CASE
      WHEN event_destination_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_destination_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_destination_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_destination_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_destination_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_destination_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_destination_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_destination_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_destination_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_destination_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS destination_page_alias
  FROM
    table_interactions 

  LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
10 rows affected.

[(398805, 2817165, 'Monthly', 'Log in', 'Log in'),
 (387096, 2827209, 'Annual', 'Log in', 'Log in'),
 (267955, 2837493, 'Annual', 'Log in', 'Log in'),
 (313048, 2837563, 'Monthly', 'Log in', 'Log in'),
 (313048, 2837563, 'Monthly', 'Log in', 'Log in'),
 (313048, 2837563, 'Monthly', 'Log in', 'Log in'),
 (455568, 2847176, 'Annual', 'Homepage', 'Pricing'),
 (455568, 2847176, 'Annual', 'Pricing', 'Checkout'),
 (455568, 2847176, 'Annual', 'Homepage', 'Log in'),
 (455568, 2847176, 'Annual', 'Log in', 'Log in')]

**Explanation:**

- *The final `SELECT` statement retrieves interaction data from `table_interactions`, which includes user IDs, session IDs, and their subscription types.*
- *`source_page_alias` and `destination_page_alias` are derived by mapping `event_source_url` and `event_destination_url` to meaningful page aliases based on predefined URL patterns.*
- *The result shows the first 10 rows of user interactions with these categorized URLs.*

## **Step 5: Combine Page Interactions**

In [26]:
%%sql
WITH user_purchases AS (
   SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
), 

table_interactions AS (
  SELECT 
      fv.user_id, 
      fi.visitor_id, 
      fi.event_date, 
      fi.session_id, 
      fi.event_source_url, 
      fi.event_destination_url,
      up.subscription_type
  FROM front_visitors fv
  JOIN front_interactions fi ON fv.visitor_id = fi.visitor_id
  JOIN user_purchases up ON fv.user_id = up.user_id
  WHERE fi.event_date < up.first_order_date
),
 table_aliases AS (

 SELECT
    user_id,
    session_id,
    subscription_type,
    CASE
      WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS source_page_alias,
    CASE
      WHEN event_destination_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_destination_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_destination_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_destination_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_destination_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_destination_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_destination_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_destination_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_destination_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_destination_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS destination_page_alias
  FROM
    table_interactions 
  )

  SELECT
    user_id,
    session_id,
    subscription_type,
    CONCAT(source_page_alias, '-', destination_page_alias) AS source_destination
  FROM
    table_aliases
  LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
10 rows affected.

[(398805, 2817165, 'Monthly', 'Log in-Log in'),
 (387096, 2827209, 'Annual', 'Log in-Log in'),
 (267955, 2837493, 'Annual', 'Log in-Log in'),
 (313048, 2837563, 'Monthly', 'Log in-Log in'),
 (313048, 2837563, 'Monthly', 'Log in-Log in'),
 (313048, 2837563, 'Monthly', 'Log in-Log in'),
 (455568, 2847176, 'Annual', 'Homepage-Pricing'),
 (455568, 2847176, 'Annual', 'Pricing-Checkout'),
 (455568, 2847176, 'Annual', 'Homepage-Log in'),
 (455568, 2847176, 'Annual', 'Log in-Log in')]

**Explanation:**

- *The `user_purchases` CTE retrieves user purchase data with the first order date and subscription type.*
- *The `table_interactions` CTE joins `front_visitors` and `front_interactions` with `user_purchases` to get interactions before the user's first purchase date.*
- *The `table_aliases` CTE maps URLs to meaningful page aliases based on predefined patterns for both source and destination URLs.*
- *The final `SELECT` statement combines the source and destination page aliases into a single `source_destination` field and retrieves the first 10 rows of user interactions.*

## **Step 5: Aggregate the User Journey**

In [27]:
%%sql
WITH user_purchases AS (
   SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
), 
table_interactions AS (
  SELECT 
      fv.user_id, 
      fi.visitor_id, 
      fi.event_date, 
      fi.session_id, 
      fi.event_source_url, 
      fi.event_destination_url,
      up.subscription_type
  FROM front_visitors fv
  JOIN front_interactions fi ON fv.visitor_id = fi.visitor_id
  JOIN user_purchases up ON fv.user_id = up.user_id
  WHERE fi.event_date < up.first_order_date
),
table_aliases AS (

 SELECT
    user_id,
    session_id,
    subscription_type,
    CASE
      WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS source_page_alias,
    CASE
      WHEN event_destination_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_destination_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_destination_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_destination_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_destination_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_destination_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_destination_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_destination_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_destination_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_destination_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS destination_page_alias
  FROM
    table_interactions 
  ),
table_concatenated AS (
  SELECT
    user_id,
    session_id,
    subscription_type,
    CONCAT(source_page_alias, '-', destination_page_alias) AS source_destination
  FROM
    table_aliases
),
table_group_concatenated AS (
 SELECT
    user_id,
    session_id,
    subscription_type,
    GROUP_CONCAT(source_destination SEPARATOR '-') AS user_journey
  FROM
    table_concatenated
  GROUP BY
    session_id
)

SELECT * 
FROM table_group_concatenated
LIMIT 30;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
30 rows affected.

[(392228, 2807280, 'Annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate'),
 (455204, 2810317, 'Monthly', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses'),
 (339582, 2811543, 'Annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Career tracks-Career tracks'),
 (455204, 2811548, 'Monthly', 'Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up'),
 (339582, 2812935, 'Annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses'),
 (349826, 2816745, 'Annual', 'Log in-Log in-Log in-Log in'),
 (349826, 2816779, 'Annual', 'Checkout-Checkout-Checkout-Checkout'),
 (339582, 2816825, 'Annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Courses-Courses-Courses-Courses'),
 (398805, 2817165, 'Monthly', 'Log in-Log in'),
 (455234, 2818226, 'Annual', 'Log in-Log in-Log in-Log in-Log in-Log in-Log in-Log in'),
 (455234, 2818313, 'Annual', 'Sign up-Sign up-Sign up-Sign up'),
 (454666, 2818377, 'Annual', 'Log in-Log in'),
 (454666, 2818443, 'Annual', 'Checkout-Checkout'),
 (331693, 2819402, 'Monthly', 'Log in-Log in'),
 (424647, 2819508, 'Annual', 'Log in-Log in'),
 (467499, 2819537, 'Annual', 'Log in-Log in'),
 (467499, 2819674, 'Annual', 'Log in-Log in-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up'),
 (339582, 2820517, 'Annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career tracks-Career tracks-Courses-Courses-Log in-Log in-Log in-Log in-Log in-Log in'),
 (448776, 2822226, 'Annual', 'Checkout-Checkout'),
 (387096, 2827209, 'Annual', 'Log in-Log in'),
 (318200, 2828150, 'Annual', 'Log in-Log in'),
 (411785, 2830280, 'Annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate ... (237 characters truncated) ... k certificate-Career track certificate-Career track certificate-Career tracks-Career tracks-Career tracks-Career tracks-Sign up-Sign up-Log in-Log in'),
 (282927, 2830514, 'Annual', 'Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout'),
 (282927, 2830583, 'Annual', 'Coupon-Coupon-Coupon-Coupon-Coupon-Coupon-Coupon-Coupon'),
 (455343, 2831102, 'Annual', 'Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout-Checkout'),
 (267955, 2837493, 'Annual', 'Log in-Log in'),
 (396099, 2837540, 'Annual', 'Career tracks-Career tracks-Log in-Log in-Log in-Log in-Log in-Log in'),
 (313048, 2837563, 'Monthly', 'Log in-Log in-Log in-Log in-Log in-Log in'),
 (392228, 2839591, 'Annual', 'Pricing-Pricing'),
 (392228, 2839690, 'Annual', 'Upcoming courses-Upcoming courses')]

**Explaination**

- *Filter and Aggregate Purchases: Selects users who made a purchase between '2023-01-01' and '2023-03-01', categorizing them by subscription type and purchase price, while excluding non-positive prices.*
- *Combine User Data: Joins user data with their interactions on the website, where interactions occurred before their first purchase date, and categorizes source and destination URLs into descriptive page aliases.*
- *Create Source-Destination Aliases: Transforms URLs into user-friendly names for source and destination pages to facilitate easier analysis.*
- *Concatenate Journeys: Combines page aliases into a single string for each session to represent the user's journey through the site.*
- *Summarize User Journeys: Groups the concatenated journeys by session and provides a preview of the first 30 rows from the resulting `table_group_concatenated`, showing the aggregated user journey data.*

## **Step 5: Output The Result**

### **Store Result in a DataFrame**

In [41]:
%%sql
DROP TABLE IF EXISTS user_purchases_summary;

CREATE TABLE user_purchases_summary AS
WITH user_purchases AS (
   SELECT
    user_id,
    MIN(date_purchased) AS first_order_date,
    CASE
      WHEN purchase_type = 0 THEN 'Monthly'
      WHEN purchase_type = 1 THEN 'Quarterly'
      WHEN purchase_type = 2 THEN 'Annual'
      ELSE 'Other'
    END AS subscription_type,
    purchase_price AS price
  FROM
    student_purchases
  GROUP BY
    user_id
  HAVING
    price > 0
    AND  first_order_date BETWEEN '2023-01-01' AND '2023-03-01'
), 
table_interactions AS (
  SELECT 
      fv.user_id, 
      fi.visitor_id, 
      fi.event_date, 
      fi.session_id, 
      fi.event_source_url, 
      fi.event_destination_url,
      up.subscription_type
  FROM front_visitors fv
  JOIN front_interactions fi ON fv.visitor_id = fi.visitor_id
  JOIN user_purchases up ON fv.user_id = up.user_id
  WHERE fi.event_date < up.first_order_date
),
table_aliases AS (

 SELECT
    user_id,
    session_id,
    subscription_type,
    CASE
      WHEN event_source_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_source_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_source_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_source_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_source_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_source_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_source_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_source_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_source_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_source_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_source_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_source_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_source_url LIKE 'https://365datascience.com/checkout/%' AND event_source_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS source_page_alias,
    CASE
      WHEN event_destination_url = 'https://365datascience.com/' THEN 'Homepage'
      WHEN event_destination_url LIKE 'https://365datascience.com/login/%' THEN 'Log in'
      WHEN event_destination_url LIKE 'https://365datascience.com/signup/%' THEN 'Sign up'
      WHEN event_destination_url LIKE 'https://365datascience.com/resources-center/%' THEN 'Resources center'
      WHEN event_destination_url LIKE 'https://365datascience.com/courses/%' THEN 'Courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-tracks/%' THEN 'Career tracks'
      WHEN event_destination_url LIKE 'https://365datascience.com/upcoming-courses/%' THEN 'Upcoming courses'
      WHEN event_destination_url LIKE 'https://365datascience.com/career-track-certificate/%' THEN 'Career track certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/course-certificate/%' THEN 'Course certificate'
      WHEN event_destination_url LIKE 'https://365datascience.com/success-stories/%' THEN 'Success stories'
      WHEN event_destination_url LIKE 'https://365datascience.com/blog/%' THEN 'Blog'
      WHEN event_destination_url LIKE 'https://365datascience.com/pricing/%' THEN 'Pricing'
      WHEN event_destination_url LIKE 'https://365datascience.com/about-us/%' THEN 'About us'
      WHEN event_destination_url LIKE 'https://365datascience.com/instructors/%' THEN 'Instructors'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url LIKE '%coupon%' THEN 'Coupon'
      WHEN event_destination_url LIKE 'https://365datascience.com/checkout/%' AND event_destination_url NOT LIKE '%coupon%' THEN 'Checkout'
      ELSE 'Other'
    END AS destination_page_alias
  FROM
    table_interactions 
  ),
table_concatenated AS (
  SELECT
    user_id,
    session_id,
    subscription_type,
    CONCAT(source_page_alias, '-', destination_page_alias) AS source_destination
  FROM
    table_aliases
),
table_group_concatenated AS (
 SELECT
    user_id,
    session_id,
    subscription_type,
    GROUP_CONCAT(source_destination SEPARATOR '-') AS user_journey
  FROM
    table_concatenated
  GROUP BY
    session_id
)

SELECT * 
FROM table_group_concatenated;

SELECT * FROM user_purchases_summary
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
0 rows affected.
4563 rows affected.
5 rows affected.

[(392228, 2807280, 'Annual', 'Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate-Career track certificate'),
 (455204, 2810317, 'Monthly', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses'),
 (339582, 2811543, 'Annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses-Career tracks-Career tracks'),
 (455204, 2811548, 'Monthly', 'Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up-Sign up'),
 (339582, 2812935, 'Annual', 'Courses-Courses-Courses-Courses-Courses-Courses-Courses-Courses')]

**Explainations**

- *Creates a `user_purchases_summary` table: Aggregates user purchase data and interactions, categorizing pages and combining source and destination URLs into a single journey string for each session.*
- *Generates a summarized view: Uses `GROUP_CONCAT` to concatenate the user's journey, detailing interactions and page aliases, and provides a preview of the first 5 rows from the table. This table will be exported as a CSV file.*

In [46]:
result_df = %sql SELECT * FROM user_purchases_summary

df = pd.DataFrame(result_df)

df.head()

 * mysql+pymysql://root:***@localhost:3306/user_journey_data
4563 rows affected.

,user_id,session_id,subscription_type,user_journey
0,392228,2807280,Annual,Career track certificate-Career track certific...
1,455204,2810317,Monthly,Courses-Courses-Courses-Courses-Courses-Course...
2,339582,2811543,Annual,Courses-Courses-Courses-Courses-Courses-Course...
3,455204,2811548,Monthly,Sign up-Sign up-Sign up-Sign up-Sign up-Sign u...
4,339582,2812935,Annual,Courses-Courses-Courses-Courses-Courses-Course...

**Explaination**

- *Query Execution: Executes an SQL query to select all data from the `user_purchases_summary` table and stores the result in `result_df`.*
- *DataFrame Conversion: Converts the SQL query result into a Pandas DataFrame named `df` and displays the first few rows using `df.head()`.*

### **Export DataFrame to CSV**

In [48]:
df.to_csv('user_summary.csv', index=False)

## **Conclusion**


### **Summary**
*This project involved a comprehensive analysis of user interactions and purchase behaviors to gain insights into user engagement and subscription patterns. The analysis was conducted using two primary datasets: `user_purchases` and `user_interactions`, which were processed and joined to reveal meaningful patterns and trends.*

### **Key Findings**
1. **Subscription Patterns:**
   - *The `user_purchases` dataset provided valuable information on subscription types and purchase dates. By categorizing subscriptions into types such as Monthly, Quarterly, and Annual, we could analyze user preferences and trends over time.*
   - *Filtering out test or free purchases ensured that the analysis focused on genuine customer behavior.*

2. **Interaction Analysis:**
   - *The `user_interactions` dataset was analyzed to track user engagement before their first purchase. This involved identifying interactions that occurred before the user's first recorded purchase.*
   - *By mapping URLs to user-friendly labels (e.g., Homepage, Sign up, Courses), we were able to categorize and understand user navigation patterns more effectively.*

3. **Efficiency Improvements:**
   - *Optimizations were made to the SQL queries to enhance performance, including the use of `WITH` clauses for intermediate results and avoiding redundant subqueries.*
   - *The revised queries efficiently joined datasets and applied filters to produce accurate and actionable insights.*

### **Implications**
1. **Customer Engagement:**
   - *The insights gained from analyzing user interactions before their first purchase can inform strategies to enhance customer engagement. Understanding common navigation paths and behaviors can help tailor marketing efforts and improve user experience.*

2. **Marketing Strategies:**
   - *By identifying key pages and interactions that lead up to purchases, businesses can optimize their marketing strategies to focus on high-impact areas. This can involve targeted promotions, improved website navigation, and personalized content.*

3. **Future Work:**
   - *Further analysis could explore additional factors influencing purchase decisions, such as time spent on different pages or interaction frequency. Integrating data from other sources (e.g., customer feedback) could provide a more comprehensive view of user behavior.*

### **Conclusion**
*This project successfully demonstrated the use of SQL queries to analyze user purchase and interaction data, leading to actionable insights. The optimization of queries and the clear mapping of interaction data have set the stage for further analysis and improvements in user engagement and marketing strategies.*